*.java linguist-detectable=false
*.cpp linguist-detectable=false
*.mm linguist-detectable=false
*.h linguist-detectable=false
*.m linguist-detectable=false
*.lock linguist-detectable=false
*.bzl linguist-detectable=false
*.mk linguist-detectable=false
*.env linguist-detectable=false
*.css linguist-detectable=false
*.cmake linguist-detectable=false
*.txt linguist-detectable=false
*Version 1/Gemfile linguist-vendored
*Version 2/Gemfile linguist-vendored
*Version 3/Gemfile linguist-vendored
*ios/Podfile linguist-vendored
*Version 1/Gemfile.lock linguist-vendored
*Version 2/Gemfile.lock linguist-vendored
*Version 3/Gemfile.lock linguist-vendored
*android/gradlew linguist-vendored
